body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("snake_bord.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

#board {
    display: block;
    margin: 20px auto;
}
#records {
    margin: 10px auto;
    font-size: 25px;
    font-weight: bold;
}
