.body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator{
    width: 500px;
    border-radius: 15px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.865);
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 70px;
    border: none;
    margin-right: 50px;
    background-color: rgba(48, 47, 47, 0.865);
    color: white;
}

#key{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

button{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 50px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

button:active{
    background-color: rgba(255, 255, 255, 0.5);
}

.optrator{
    background-color: hsl(35, 100%, 55%)
}

.optrator:hover{
    background-color: hsl(35, 100%, 65%)
}

.optrator:active{
    background-color: hsl(35, 100%, 75%)
}